*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    // background-color: rgba(0, 0, 0, 0.05);
    // outline: black solid 1px;
}

body,
html {
    background-color: aliceblue;
}

header {
    min-width: 100%;
    background-color: rgb(211, 211, 211);
}

header nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

header nav a {
    font-size: 1rem;
    padding: 1rem;
}

/* Content */

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content h1 {
    margin-bottom: 2rem;
}

.groups-badges {
    max-width: 270px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.group-badges {
    display: flex;
    flex-direction: column;
}

.groups-banners {
    max-width: 270px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.group-banners {
    display: flex;
    flex-direction: column;
}

#code {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 12px;
    min-width: 320px;
    width: min(320px, 100%);
    white-space: pre-wrap;
    padding: 8px;
}

h2 {
    text-align: center;
    font-size: 1rem;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-container {
    margin-top: 3rem;
}

.container nav {
    background-color: #fff;
    width: min(100%, 480px);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.outlet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: rgb(211, 211, 211);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
    position: static;
    bottom: 0;
    margin-top: 3rem;
}

// Testimonial

.testimonial-content {
    padding: 8rem 0;
    font-family: Inter;
}

.testimonial,
.testimonial-mobile {
    color: #fff;
    margin-top: 3rem;
    background-color: #2545b8;
    max-width: 1358px;
    height: 400px;
    position: relative;
    display: flex;
    align-items: center;
}

.testimonial-mobile {
    max-width: 376px;
    height: 551px;
    align-items: unset;
    justify-content: center;
}

.testimonial-content {
    display: flex;
    flex-direction: column;
    gap: 120px;
}

.testimonial img,
.testimonial-mobile img {
    border-radius: 12px;
    box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.04),
        0px 20px 25px -5px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 71px;
    width: 384px;
    height: 464px;
    object-fit: cover;
}

.testimonial-mobile img {
    width: 344px;
    height: 206px;
    object-fit: cover;
    object-position: 50% 33%;
    left: unset;
    margin-top: -103px;
}

.testimonial-text {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-left: 487px;
    margin-right: 71px;
}

.testimonial-text-mobile {
    margin-top: 135px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.testimonial-text h3,
.testimonial-text-mobile h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}

.bold {
    font-weight: 700;
}

.testimonial-nopic {
    background-color: #f9fafb;
    color: #111827;
    font-family: Inter;
    position: relative;
    width: 1358px;
    overflow: hidden;
    max-height: 444px;
}

.testimonial-nopic::before {
    content: "";
    width: 404px;
    height: 404px;
    margin-bottom: -106px;
    margin-left: -166px;
    position: absolute;
    bottom: 0;
    background-image: url("src/assets/Pattern.png");
}

.testimonial-nopic-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 768px;
    gap: 40px 32px;
    margin: 96px auto 112px;
    text-align: center;
}

.testimonial-nopic-text h3 {
    color: #111827;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}

.testimonial-nopic-text img {
    width: 180px;
    height: 32px;
}

.nopic-signature {
    display: flex;
}

.testimonial-nopic-mobile {
    max-width: 376px;
    background-color: #f9fafb;
    color: #111827;
    position: relative;
    overflow: hidden;
}

.testimonial-nopic-mobile::before {
    content: "";
    background-image: url("src/assets/Pattern.png");
    position: absolute;
    bottom: 0;
    width: 404px;
    height: 404px;
    margin-left: -200px;
    margin-bottom: -275px;
}

.testimonial-nopic-mobile .testimonial-nopic-text {
    padding: 74px 16px;
    margin: 0;
    text-align: left;
}

.testimonial-nopic-mobile .testimonial-nopic-text h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}

.nopic-signature-mobile {
    align-self: flex-start;
    z-index: 1;
}
.place {
    color: #6b7280;
}
